server:
  port: 9001

spring:
  application:
    name: userservice
  datasource:
    url: jdbc:mysql://158.180.77.101:3306/test?serverTimezone=UTC&characterEncoding=UTF-8
    driver-class-name: com.mysql.cj.jdbc.Driver

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/